:root {
background-color: gray;
}

.CuadradoRojo {
   
 
    width: 5%;
    padding: 3% ;
    border: 2px solid rgb(0, 0, 0);
    background-color: red;
    color: white;
    top: 1%;
    margin-bottom: 2%;
    
    
    }

.CuadradoVerde {

    
    width: 5%;
    padding: 3% ;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(44, 92, 16);
    color: white;
    position: fixed;
    top: 1%;
    left: 15%;
    margin-bottom: 2%;
   


    
    }

    .CuadradoAzul {

        width: 5%;
    padding: 3% ;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(7, 109, 192);
    color: white;
    position: fixed;
    top: 1%;
    left: 30%;
    margin-bottom: 2%;

     }

     .DiseñoWeb {

  
     padding: 3% ;
     background-color: white;
     position: relative;
     border-left: 4px solid rgb(15, 100, 197);
     color: black;
     font-size: 20px;
     display: block;
          width: 20%;
          margin-bottom: 2%;
     
     
    

    
    }

    .Absoluto1 {
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: rgb(15, 100, 197);
        width: 10%;
        height: 15%;
       color: white;
       font-size: 12px;
       border-radius: 1%;
        
         
    }

    .TextoGris1 {

        color: gray;
        font-size: 12px;
        
    
    }

        .JavaScript {
    
            padding: 3% ;
     background-color: white;
     position: relative;
     border-left: 4px solid rgb(15, 100, 197);
     color: black;
     font-size: 20px;
     display: block;
          width: 20%;
          margin-bottom: 2%;

               
    }

        .Absoluto2 {
 
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: rgb(15, 100, 197);
        width: 10%;
        height: 15%;
       color: white;
       font-size: 12px;
       border-radius: 1%;

        }

        
    .TextoGris2 {

        color: gray;
        font-size: 12px;
        
     }

    .Backend  {

  
     padding: 3% ;
     background-color: white;
     position: relative;
     border-left: 4px solid rgb(15, 100, 197);
     color: black;
     font-size: 20px;
     display: block;
          width: 20%;
          margin-bottom: 2%;

             }

              .Absoluto3 {
 
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: rgb(15, 100, 197);
        width: 10%;
        height: 15%;
       color: white;
       font-size: 12px;
       border-radius: 1%;

        }

           .TextoGris3 {

        color: gray;
        font-size: 12px;
        
     }

        .CuadroEstudiantes {

            
     padding: 3% ;
     background-color: rgb(39, 17, 163);
     position: relative;
     border-left: 6px solid rgb(196, 197, 197);
     color: white;
     font-size: 20px;
     display: block;
          width: 60%;
          margin-bottom: 2%;
         

}

           .Notas  {

             color: white;
        font-size: 12px;
           position: absolute;
        top: 5%;
        left: 5%;
        background-color: rgb(16, 6, 104);
        width: 20%;
        height: 20%;
       border-radius: 1%;
             padding: 3% ;
             border-top: 6px solid gray;
             


       }

       .Notas2   {

             color: white;
        font-size: 12px;
           position: absolute;
        top: 5%;
        left: 37%;
        background-color: rgb(207, 28, 15);
        width: 20%;
        height: 20%;
       border-radius: 1%;
             padding: 3%;
                border-top: 6px solid rgb(196, 6, 6)
            



       }


        .Notas3 {

             color: white;
        font-size: 12px;
           position: absolute;
        top: 5%;
        left: 69%;
        background-color:  rgb(16, 6, 104);
        width: 20%;
        height: 20%;
       border-radius: 1%;
             padding: 3%;
             border-top: 6px solid gray;

              }






            


    









    
    
    
